[submodule "submodules/quickstart-compliance-common"]
	path = submodules/quickstart-compliance-common
	url = git@github.com:aws-quickstart/quickstart-compliance-common
	branch = main
[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
	branch = main
[submodule "submodules/quickstart-linux-bastion"]
	path = submodules/quickstart-linux-bastion
	url = https://github.com/aws-quickstart/quickstart-linux-bastion.git
	branch = main
